/* @override http://localhost:3000/css/main.css */

*{
	margin: 0;
	padding: 0;
	border: none;
	color: inherit;
}
body{
	background: #f1efe6 url(/images/bg.png) repeat-x top center;
	font-family: arial;
	font-size: 18px;
	width: 960px;
	margin: 0 auto;
	line-height: 1.5;
}
h1,h2,h3,h4,h5,h6,p{
	margin: .7em 0 1em;
}
h1,h2,h3{
	font-family: "Myriad Pro", arial;
	letter-spacing: -1px;
}
p img{
	float :left;
	margin : 0 1em .5em;
}
a{
	color: #009;
}
.date{
	display: block;
	text-align: right;
	font-size: .6em;
}

nav ul{
	list-style: none;
	margin: 0;
}
nav li{
	margin: 0;
	float :left;
	font-size: 14px;
	padding: 3px 7px;
	border-right: 1px solid white;

}
nav li:hover a{
	color: #FFF;

}
nav a{
	color: #DDD;
	text-decoration: none;
}

blockquote{
	font-family: georgia;
	font-style: italic;
	font-size: 24px;
	margin: 1em ;
	color: #666;
}
section.picture img{
	max-width: 550px;
}
section.content p:first-child{
	margin: 0;
	font-weight: bold;
}
#articles h1{
	line-height: 1;
}
#articles .post:first-child, #articles.news-ticker .post{
	width: 96%;
	padding: 0 2%;
	border-bottom: 1px solid gray;
	margin-bottom: 1em;
}

#articles .post{
	float:left;
	width: 33%;
}
#articles .post.hover{
	background: #FFA;
	cursor: pointer;
}
#articles .post img{
	max-width: 90%;
	padding: 5px 3%;
	background: #FFF;
	border: 1px solid gray;
	margin-left: 1%;
	
}

span.user{
	color:  #F5F;
	
}
span.tag {
	color: #666;
	font-weight: bold;
}
header, nav, footer{
	width: 100%;
	float: left;
	clear: both;
}
body > header{
	margin-bottom: 1.5em;
}
body > header h1{
	margin: .5em 1em 0;
	color: #FFF;
}
header > nav{
	margin: .5em 0 0;
}
body > section, body > aside{
	float :left;
	clear: none;
}
body > section{
	background: #FFF;
	width: 62%;
	margin-right: 2%;	
	padding: 0 2%;
}
body > aside{
	width: 32%;
}

aside h2{	
	margin: 0;
}

#twitter li{
	list-style: none;
	margin: .5em 0;
}
#twitter li p{
	background: #FFF;
	padding: 5px;
	font-size: 12px;
	margin: 0;
	-webkit-border-radius: 5px;
}
#twitter small{
	font-size: 10px;
	margin: 0;
}

.news-ticker{
	position: relative;	
}
.news-ticker-button{
	position: absolute;
	text-indent: -9999px;
	top: 150px;
	background: red;
	height: 20px;
	width: 20px;
	outline: none;
}
.news-ticker-button.prev{
	left: 0;
}
.news-ticker-button.prev{
	right: 0;
}
