*{
	margin: 0;
	padding: 0;
	border: none;
	color: inherit;
}
body{
	background: #EEE;
	font-family: arial;
	font-size: 18px;
	width: 800px;
	margin: 0 auto;
	line-height: 1.5;
}
h1,h2,h3,h4,h5,h6,p{
	margin: .7em 0 1em;
}
h1,h2,h3{
	font-family: "Myriad Pro", arial;
	letter-spacing: -1px;
}
p img{
	float :left;
	margin : 0 1em .5em;
}
a{
	color: #009;
}
.date{
	display: block;
	text-align: right;
	font-size: .6em;
}
nav ul{
	list-style: none;
}
nav li{
	float :left;
	background: #dEF;
	padding: 3px 7px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
		-webkit-box-shadow: 0 0 4px #333;

}
nav li:hover{
	background: #ACF;
}
nav a{
	text-decoration: none;
}
body > section{
	background: #FFF;
	padding: 10px 5%;
	float: left;
	width: 90%;
	margin-top: 1em;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0 0 4px #333;
}
body > footer{
	margin: 1em 0;
	float :left;
	width: 100%;
	text-align: center;
	
}
blockquote{
	font-family: georgia;
	font-style: italic;
	font-size: 24px;
	margin: 1em ;
	color: #666;
}
section.picture img{
	max-width: 550px;
}
section.content p:first-child{
	margin: 0;
	font-weight: bold;
}
#articles h1{
	line-height: 1;
}
#articles .post{
	float:left;
	width: 33%;
}
#articles .post:hover{
	background: #FFA;
	cursor: pointer;
}
#articles .post img{
	max-width: 90%;
	margin-left: 5%;
}